<h1>Add New Plan</h1>
<%= form_for @plan do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.submit 'Submit' %>
<% end %>

    <%= link_to "Back To Plans", plans_path, class: 'btn btn-success' %>
