<h1><%= @plan.name %> Schedule</h1>
<div id="days_table">
<table>
    <tr>
        <td></td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
        <td>Sun</td>
    </tr>
    <tr>
        <td><%= @plan.name %></td>
        <td><%= link_to (@plan.mon ? '✓' : 'Select'), toggle_day_path(@plan, 0), method: :patch %></td>
        <td><%= link_to (@plan.tue ? '✓' : 'Select'), toggle_day_path(@plan, 1), method: :patch %></td>
        <td><%= link_to (@plan.wed ? '✓' : 'Select'), toggle_day_path(@plan, 2), method: :patch %></td>
        <td><%= link_to (@plan.thu ? '✓' : 'Select'), toggle_day_path(@plan, 3), method: :patch %></td>
        <td><%= link_to (@plan.fri ? '✓' : 'Select'), toggle_day_path(@plan, 4), method: :patch %></td>
        <td><%= link_to (@plan.sat ? '✓' : 'Select'), toggle_day_path(@plan, 5), method: :patch %></td>
        <td><%= link_to (@plan.sun ? '✓' : 'Select'), toggle_day_path(@plan, 6), method: :patch %></td>
    </tr>
</table>
</div>

    <div id="plan-btn">
    <%= link_to "Add Exercise", new_plan_exercise_path(@plan), class: 'btn btn-success' %>
    <%= link_to "Back To Plans", plans_path, class: 'btn btn-success' %>
    </div>

 <% if @exercises.length > 0 %>    
<h1 id="plan-exercises"> <%= @plan.name %> Exercises </h1>
    <table id="exercise-table">
    <thead>
        <span>
        <tr>
            <th>Body Part</th>
            <th>Exercise Name</th>
            <th>Weight</th>
            <th>Reps</th> 
            <th>Sets</th>
            <th colspan="2"></th>
        </tr>
        </span>
    </thead>

        <tbody>
            <% @exercises.each do |exercise| %>
            <tr>
                <td><%= exercise.body_part %></td>
                <td><%= exercise.name %></td>
                <td><%= exercise.weight %></td>
                <td><%= exercise.reps %></td>
                <td><%= exercise.sets %></td>
                <td><%= link_to 'Edit', edit_plan_exercise_path(@plan, exercise), class: 'btn btn-primary' %></td>
                <td><%= link_to 'Delete', plan_exercise_path(@plan, exercise.id), method: :delete, class: 'btn btn-danger' %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>    

<%= link_to 'Delete Plan', plan_path(id: @plan.id), method: :delete, class: 'btn btn-danger' %>

