<div id="ex-form">
    <%= form_for [@plan, @exercise] do |f| %>
        <%= f.label :body_part, 'Body Part' %>
        <br>
        <%= f.collection_select :body_part, Exercise::BODY_PARTS, :to_s, :to_s, {include_blank:false} %>
        <br>
        <br>
        <%= f.label :name, 'Name of Exercise' %>
        <br>
        <%= f.text_field :name, class: "form-control" %>
        <br>
        <%= f.label :weight %>
        <br>
        <%= f.text_field :weight, class: "form-control" %>
        <br>
        <%= f.label :reps %>
        <br>
        <%= f.text_field :reps, class: "form-control" %>
        <br>
        <%= f.label :sets %>
        <br>
        <%= f.text_field :sets, class: "form-control" %>
        <br>
        <br>
        <%= f.submit "Submit", class: "btn btn-success", id: "ex-form-btn" %>
    <% end %>
</div>

<div id="plans-back-btn">
    <%= link_to "Back To Plan", plan_path(@plan), class: 'btn btn-default my-btn' %>
</div>
